
@font-face {
  font-family: 'YoonChoWooSan';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408@1.0/YoonChildfundkoreaManSeh.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OngleipParkDahyeon';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2411-3@1.0/Ownglyph_ParkDaHyun.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MunmakchoByeolban';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2604-1@1.0/MUNMAK_BYEOLBANCHE.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: 'YoonChoWooSan', sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f5ef;
  color: #222;
  font-family: 'YoonChoWooSan', sans-serif;
}

button, input, textarea, select {
  font-family: 'YoonChoWooSan', sans-serif;
  font: inherit;
}

